<!DOCTYPE html>
<meta charset="utf-8">

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<div class="container col-md-12">
    <nav  class="navbar navbar-default">
        <div class="navbar-header col-md-offset-1">
            <a class="navbar-brand" href="/plot/">RBA DAQ-EQ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/plot/graph/">Archivos Locales</a></li>
                <li><a href="/plot/chart/">Visualización Local</a></li>
                <li><a href="/plot/config/">Configuración</a></li>
                <li><a href="/plot/notification/">Notificationes</a></li>
                <li><a href="/plot/sensors/">Sensores</a></li>
                <li><a href="/plot/views/">Visualizaciones</a></li>
                <li>
                  {% if user.is_authenticated %}
                    <a href="/plot/logout/">Cerrar sesión</a>
                  {% else %}
                    <a href="/plot/login/">Inicio sesión</a>
                  {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    {% block meta %}{% endblock %}

    <h1 class="col-md-offset-1">{% block title %}{{page_title}}{% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}{{page_content}}{% endblock %}
</div>

{% endblock %}
