<!DOCTYPE html>
<meta charset="utf-8">

{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_content %}
<link rel="stylesheet" href="{% static "plot/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "plot/css/webdaqeq.css" %}">
<div class="container col-md-12">
    <nav  class="navbar navbar-default">
        <div class="navbar-header col-md-offset-1">
            <a class="navbar-brand" href="/plot/">RBA DAQ-EQ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/plot/graph/">Archivos Locales</a></li>
                <li><a href="/plot/views/">Visualizaciones</a></li>
                <li><a href="/plot/config/">Configuración</a></li>
                <li><a href="/plot/notification/">Notificaciones</a></li>
                <li>
                  {% if user.is_authenticated %}
                    <a href="/plot/logout/">Cerrar sesión</a>
                  {% else %}
                    <a href="/plot/login/">Inicio sesión</a>
                  {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <script src="{% static "plot/js/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "plot/js/bootstrap.min.js" %}"></script>

    {% block meta %}
    {% endblock %}

    <h1 class="col-md-offset-1">{% block title %}{{page_title}}{% endblock %}</h1>

    {% bootstrap_messages %}

    <div class="col-md-offset-1">
    {% block content %}{{page_content}}{% endblock %}
    </div>
</div>

{% endblock %}
