<!DOCTYPE html>
<head>
  {% extends 'plot/home.html' %}
  {% load bootstrap3 %}
  {% load staticfiles %}
  <script src="{{STATIC_URL}}js/daqeq.js" type='text/javascript'></script>
  <script src="{% static "plot/js/daqeq.js" %}"></script>
{% block title %}
{{page_title}}
{% endblock %}
<!-- etc. -->
</head>
{% block content %}
<body>
  <script src="{% static "plot/js/index.js" %}"></script>
  <div>
    <form action='/plot/result/' method="post" class="form">
    {% csrf_token %}
    {% if files_list %}
    <select name="to_plot">
      {% for b in files_list %}
        <option value='{{b}}'>{{b}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Graficar">
    {% endif %}
    </form>
    {% if plot %}
  	<img src='{% url "img" data %}'/>
    {% endif %}
    {% if files_list %}
      <form action='/download_multi_file/' method="post" class="form" id="multifile-form">
        {% csrf_token %}
        <input type="hidden" value='' id='files_array' name="files_array">
        <input type="submit" value="Descargar seleccionados">
      </form>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>Archivos Locales</b></div>
        <!-- Table -->
        <table class="table">
          <thead>
            <th><!-- Checkbox --></th>
            <th>#</th>
            <th>Archivo</th>
            <th><!-- PlotButton --></th>
            <th><!-- DownloadButton --></th>
          </thead>
          <tbody>
            {% for b in files_list %}
              <tr class="localfile-tr">
                <td><input type="checkbox" name="selection-checkbox" value='{{b}}'></td>
                <td>{{forloop.counter}}</td>
                <td>{{b}}</td>
                <td>
                  <form action='/plot/result/' method="post" class="form">
                    {% csrf_token %}
                    <input type="hidden" value='{{b}}' name="to_plot">
                    <input type="submit" value="Graficar">
                  </form>
                </td>
                <td>
                  <form action='/download_one_file/' method="post" class="form">
                    {% csrf_token %}
                    <input type="hidden" value='{{b}}' name="file">
                    <input type="submit" value="Descargar">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</body>
{% endblock %}
</html>
