<!DOCTYPE html>
<html lang="es">
  {% extends 'plot/home.html' %}
  {% load bootstrap3 %}
  <meta charset="utf-8">
  {% block title %}
    {{page_title}}
  {% endblock %}

  {% block content %}
  {% if user.is_authenticated %}
    {% if action_text == "Reiniciar" %}
    <form role="form" action="/plot/verify/" name="config" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="row">
        <div class="col-md-7">
          {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}

        </div>

        <div class="col-md-5 col-md-offset">
          {% if this_url == "/plot/config/" %}
          <h4>Sensores detectados</h4>
          <div>
            <table class="col-md-12">
              <tr>
                <th>N° de serie</th>
                <th>Posición</th>
                <th>Detrend</th>
                <th>Trigger(x,y,z):</th>
                <th>Detrigger(x,y,z):</th>
                <th>Votos:</th>
              </tr>
            {% for sensor in sensors %}
              <tr>
                {% for param in sensor %}
                  <td>{{param}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </table>
          </div>
          <a href="/plot/sensors/" class="glyphicon glyphicon-refresh"></a>
          <h5>Agregar Manualmente</h5>
          <input type="text" name="new_sensor">
          <input type="submit" value="Agregar serie">
          {% endif %}
        </div>
      </div>
      <input class="btn btn-primary col-md-1" name="action" type="submit" value="{{action_text}}">
      <input class="btn btn-success col-md-1" name="action" type="button" value="Trigger">
      {% buttons reset="Cancelar" layout='vertical' %}{% endbuttons %}
      <input type="hidden" name="this_url" value="{{this_url}}">
    </form>
    {% else %}
      <p>Para hacer cambios, debe detener la aplicación primero.</p>
      <form role="form" method="post" action="/plot/signal/">
        {% csrf_token %}
        <div class="row col-md-offset-1">
          <input class="btn btn-primary col-md-1" name="action" type="submit" value="{{action_text}}">
          <input class="btn btn-success col-md-1" name="action" type="button" value="Trigger">
          {% buttons reset="Cancelar" layout='vertical' %}{% endbuttons %}
          <input type="hidden" name="this_url" value="{{this_url}}">
        </div>
      </form>
    {% endif %}
  {% else %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
      <tr>
          <td>Nombre de usuario</td>
          <td><input type="text" name="username"></td>
      </tr>
      <tr>
          <td>Contraseña</td>
          <td><input type="password" name="password"></td>
      </tr>
      </table>

      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{this_url}}" />
      <input class="col-md-12" type="hidden" name="this_url" value="{{this_url}}">
    </form>
  {% endif %}
{% endblock %}
</html>
