<!DOCTYPE html>
{% extends 'plot/home.html' %}
<!-- {% load bootstrap3 %} -->
{% load staticfiles %}
<head>

{% block meta %}
<meta charset="utf-8">
<link rel="stylesheet" href="{% static "plot/css/bootstrap.min.css" %}">
<script src="{% static "plot/js/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "plot/js/bootstrap.min.js" %}"></script>
<script src="{% static "plot/js/canvasjs.min.js" %}"></script>

<!-- <script src="{% static "plot/js/chart2.1.4.bundle.js" %}"></script> -->
<script src="{% static "plot/js/client-websocket.js" %}"></script>
<!-- <script src="{% static "plot/js/graficador.js" %}"></script> -->
<script src="{% static "plot/js/graficador2.js" %}"></script>

{% endblock %}

<body>
  {% block title %}
  Servicio de Graficación DAQ-EQ ^mini
  {% endblock %}
  {% block content %}
<div class="container col-md-12">
  <div class="container flow-buttons col-md-10">
    <button type="button" class="btn btn-default pausar-vistas">
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pausar Vistas
    </button>
    <button type="button" class="btn btn-default iniciar-app">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Iniciar Aplicación
    </button>
    <button type="button" class="btn btn-default detener-app">
      <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Detener Aplicación
    </button>
    <button type="button" class="btn btn-default forzar-trigger">
      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Forzar Trigger
    </button>

  </div>
  <div class="container col-md-2">
    <span class="label label-success" id="conn_text"></span>
  </div>
  <div class="container col-md-12">
    <ul class="nav nav-tabs sensor-tabs">
      <li id="main-chart" class="active"><a data-toggle="tab" href="#todos" class="active">Todos</a></li>
    </ul>

    <div class="tab-content sensor-content">
      <div id="todos" class="tab-pane fade in active">
      <div id="messages_txt">

      </div>
        <!-- <canvas id="updating-chart" width="500" height="300"></canvas> -->
        <div id="updating-chart" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>






{% endblock %}
</body>
</html>
