<!DOCTYPE html>
<head>
  <!--{% load socketio_tags %}-->
  {% socketio %}
  <script src="{{STATIC_URL}}js/daqeq.js" type='text/javascript'></script>
  {% load staticfiles %}
  <script src="{% static "plot/js/daqeq.js" %}"></script>

<title>{{ page_title }}</title>
<!-- etc. -->
</head>
<body>
  <div>
    <form action='/plot/graph/' method="post">
    {% csrf_token %}
    {% if buffer %}
    <select name="to_plot">
      {% for b in buffer %}
        <option value='{{b}}'>{{b}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Plot">
    {% endif %}
    </form>
    {% if plot %}
	<img src="/plot/result/"  />
	<input type="hidden" name="data" value="{{ data }}">
    {% else %}
	Nothing to show here
    {% endif %}
  </div>
  <form action="/plot/graph/" method="post">
  {% csrf_token %}
    <input type="hidden" id="buffer" name="buffer" value="{% static "plot/testFinal.txt" %}">
    <input type="submit" value="Plot">
  </form>
</body>
</html>
